<%- include('partials/head') %> 
<%- include('partials/header') %>
<div class="col-12">
    
    <div class="col">
        <h4 class="heading"><strong>Formulario </strong> Carga <span></span></h4>
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="col">
                <label for="exampleFormControlInput1">Titulo de la publicación</label>
                <input type="text" class="form-control" id="exampleFormControlInput1"
                    placeholder="" name="name">
            </div>
            <div class="col">
                <label for="trademark">Marca</label>
                <br>
                <select name="trademark" class="form-control" >
                  <option value="">Elige una opción</option>
                  <% trademark.forEach(trademark => { %>
                      <option value="<%= trademark.id %>"><%= trademark.name %></option>
                  <%});%>
                </select>                        
            </div>
            <div class="col">
                <label for="">Precio</label>
                <input type="number" class="form-control" name="price">
            </div>
            <div class="col">
                <label for="">Modelo</label>
                <input type="text" class="form-control" name="model" >
            </div>
            <div class="col">
            <label for="">Comprania Telefonica</label>
                <select name="company" id="" class="form-control">
                    <option value="Libre">Libre</option>
                    <option value="Empresa">Empresa</option>
                </select>
            </div>
                <div class="col">
                    <label for="">Descuento</label>
                    <input type="number" class="form-control" name="discount">
                </div>
                <div class="col">
                    <label for="">Capacidad</label>
                        <select name="capacidad" id="" class="form-control">
                            <option value="32">32 GB</option>
                            <option value="64">64 GB</option>
                            <option value="128">128 GB</option>
                        </select>
                    </div>
                <div class="col">
                    <label for="">Dual-Sim</label>
                        <select name="dualsim" id="" class="form-control">
                            <option value="Si">Si</option>
                            <option value="No">No</option>
                        </select>
                </div>
                
                <div class="col">
                    <label for="">Colores</label>
                    <input type="text" class="form-control" name="colors">
                </div>
                <!--<div class="col">
                    <label for="">Company</label>
                    <input type="text" class="form-control" name="company" placeholder="Libre o Empresa">
                </div>-->
          
            <div class="col">
                <label for="">Elija una imagen</label>
                <input type="file" class="form-control" name='image'>
            </div>
            <div class="mt-5 mr-5 d-flex justify-content-end boton">
                <button type="submit" class="btn btn-outline-primary" id="agregar">Publicar</button>
            </div>
        </form>
    </div>

</div>

<%- include('partials/footer') %>