<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/header.ejs') %>

    <section class="principal">

        <div class="container">
            <div class="row">
            
            <!-- Filtro -->
                


                        <div class="container">
                            <section>
                              <div class="row productos">
                                <div class="col-12 titulo">
                                  <h2>Marcas</h2>
                                </div>
                      
                                <div class="container">
                                  <div class="row">
                                    <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
                                            <div class="MultiCarousel-inner">
                                              <% trademark.forEach(marcas => { %>
                      
                                               
                                              <div class="item">
                                                    <div class="pad15">
                                                       <a href="/products/category/<%= marcas.id %> "><img src="/images/logos/<%= marcas.image %> " alt=""></a>
                                                    </div>
                                                </div>
                                                <% }) %>
                                                
                                            </div>
                                            <button class="btn btn-primary leftLst"><</button>
                                            <button class="btn btn-primary rightLst">></button>
                                        </div>
                                  </div>
                                </div>
                      
                            </section>
                            
                          </div>
                      
                            
                            <!-- <div class="cabecera">MARCAS</div> -->
                        </div>
                        
                    </div>
                </div>

            <!-- Productos -->
            <div class="container">

                <section>
                <div class="row productos">
                  
            
                  <% productos.forEach(producto => { %>
                    <div class="col-12 col-md-6 col-lg-3">
                      <div class="contenido">
                        <p><%= producto.name %></p>
                        <figure>
                          <a href="/products/detail/<%= producto.id %>"><img src="/images/logos/<%= producto.image %>" alt=""/></a>
                        </figure>
                        <article>
                          <h2>
                            $<%- (producto.price - producto.price * producto.discount / 100).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %>
                          </h2>
                          <span><%= producto.discount %>% OFF</span>
                          
                        </article>
                      </div>
                    </div>
            
                    <% }) %>
            
                </div>
              
                </section>
                
              </div>
                    
            </div>

        </div>

    </section>

    <script src="/javascripts/carousel.js"></script>
    <%- include('./partials/footer.ejs') %>
    
</body>
</html>

