<!DOCTYPE html>
  <html lang="es">
    
    <!--ACA HEAD-->
    <%- include('partials/head') %>
    <body>
      <!--ACA HEAD-->
    <%- include('partials/header') %>
     
      
      <!--Imagen-->
      <section class="banner">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <a href="/users/login"><img src="/images/logos/banner-2.jpg" class="d-block w-100" alt=""></a>
            </div>
            <div class="carousel-item">
              <a href=""><img src="/images/logos/banner-1.jpg" class="d-block w-100" alt=""></a>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </section>
  
  
    <div class="container">
      <section>
        <div class="row productos">
          <div class="col-12 titulo">
            <h2>Compra por marca</h2>
          </div>

          <div class="container">
            <div class="row">
              <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
                      <div class="MultiCarousel-inner">
                        <% trademark.forEach(trademark => { %>
                        <div class="item">
                              <div class="pad15">
                                 <a href="/products/category/<%= trademark.id %> "><img src="/images/logos/<%= trademark.image %> " alt=""></a>
                              </div>
                          </div>
                          <% }) %>
                          
                      </div>
                      <button class="btn btn-primary leftLst"><</button>
                      <button class="btn btn-primary rightLst">></button>
                  </div>
            </div>
          </div>

      </section>
      
    </div>


  <div class="container">

    <section>
    <div class="row productos">
      <div class="col-12 titulo">
        <h2>Productos</h2>
        <span class="boton"><a href="/products">Ver más</a></span>
      </div>
    
      <% producto.forEach(producto => { %>
        <% if(producto.id < 9) {%> 
        <div class="col-12 col-md-6 col-lg-3">
          <div class="contenido">
            <p><%= producto.name %></p>
            <figure>
              <a href="/products/detail/<%= producto.id %>"><img src="/images/logos/<%= producto.image %>" alt=""/></a>
            </figure>
            <article>
              <h2>
                $<%- (producto.price - producto.price * producto.discount / 100).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %>
              </h2>
              <span><%= producto.discount %>% OFF</span>
              
            </article>
          </div>
        </div>
        <% } %> 
        <% }) %>
        
    </div>
  
    </section>
    
  </div>
    </div>

    <!--FOOTER-->
    <%- include('partials/footer') %>

    <script src="/javascripts/carousel.js"></script>
  </body>
</html>