<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>

<body>
    <%- include('partials/header') %> 
    
    <div class="signup-form col-12">
        

      <div class="titulo col-12">
        <h2>
          <%= title %> 
        </h2>
      </div>

      <form action="/products/edit/<%= producto.id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="formulario" id="edit">
      
        <div>
          <div class="col-12 col-md-4 mt-3 d-flex flex-column align-items-center">
              
            <img src="/images/logos/<%= producto.image %>" class="avatarImg" alt="avatar" width="75%"
              style="object-fit: cover; object-position: top;">
            <!--<input class="form-control" type="file" accept="image/png, .jpeg, .jpg, image/gif" name="imagen" id="imagenProducto">-->
          </div>
        </div>

        <div class="col">
          <label for="">Nombre</label>
          <input type="text" class="form-control" name="name" value="<%= producto.name %> " disabled>
      </div>
    <div class="col">
      <label for="">Marca</label>
      <input type="text" class="form-control" name="marca" value="<%= producto.trademark.name %> " disabled>
  </div>
      <div class="col">
        <label for="">Modelo</label>
        <input type="text" class="form-control" name="model" value="<%= producto.model %> " disabled>
    </div>

    <div class="col">
      <label for="">Precio</label>
      <input type="number" class="form-control" name="price" value="<%= producto.price %>">
      <span id="errorPrice" class="text-danger"><%= (typeof errors != 'undefined' && errors.price)?errors.price.msg: "" %> </span>
    </div>

    <div class="col">
      <label for="">Colores</label>
      <input type="text" class="form-control" name="colors" value="<%= producto.colors %>">
      <span id="errorColors" class="text-danger"><%= (typeof errors != 'undefined' && errors.colors)?errors.colors.msg: "" %> </span>
    </div>
    
    <div class="col">
      <p>Compania</p>
      <select name="company" class="form-control" >
          <option value="<%= producto.company%>"><%= producto.company %> </option>
          <% if(producto.company == 'Libre') { %> 
          <option value="Empresa">Empresa</option>
          <% }else { %>
          <option value="Libre">Libre</option>
            <% } %> 
        </select>   
        <span id="errorCompany" class="text-danger"><%= (typeof errors != 'undefined' && errors.company)?errors.company.msg: "" %> </span>
  </div>

    <div class="col">
      <label for="">Descuento</label>
      <input type="text" class="form-control" name="discount" value="<%= producto.discount %>">
      <span class="text-danger" id="errorDiscount"><%= (typeof errors != 'undefined' && errors.discount)?errors.discount.msg: "" %> </span>
    </div>

    <div class="col">
      <label for="">Capacidad</label>
          <select name="capacidad" id="" class="form-control" value="<%= producto.capacidad %> ">
              <option value="<%= producto.capacidad %> "><%= producto.capacidad %> GB </option>
              <% if(producto.capacidad == '32') { %> 
                <option value="64">64 GB</option>
                <option value="128">128 GB</option>
                <% }else if(producto.capacidad == '64') { %>
                <option value="32">32 GB</option>
                <option value="128">128 GB</option>
                  <% }else { %> 
                    <option value="32">32 GB</option>
                    <option value="64">64 GB</option>
                    <% } %> 
          </select>
          <span class="text-danger" id="errorCapacidad"><%= (typeof errors != 'undefined' && errors.capacidad)?errors.capacidad.msg: "" %> </span>
      </div>

      <div class="col">
        <label for="tipo"> Descripcion </label>
        <textarea name="description" class="form-control"><%= producto.description%>"</textarea>
        <span class="text-danger" id="errorDescription"><%= (typeof errors != 'undefined' && errors.description)?errors.description.msg:"" %>
      </div>


    <div class="boton">
      <button class="subir" type="submit" name="id" value="<%= producto.id %> " id="guardar">Guardar</button>
    </div>


      </form>

    </div>

    <%- include('partials/footer') %> 
</body>
</html>